.gallery-thumbnail {
	width: 200px;
	margin: 5px;
	cursor: pointer;
}

#gallery-title {
	margin-top: 10px;
}

#gallery-subtitle {
	font-family: sans-serif;
}

@media (max-width: 575.98px) {
	.gallery-thumbnail {
		width: 100px;
		margin: 5px;
	}

	#gallery-title {
		margin-bottom: 0.1rem;
		font-size: medium;
	}

	#gallery-subtitle {
		font-size: x-small;
	}
}

.gallery-viewer-container {
	display: flex;
	position: fixed;
	z-index: 1000;
	left: 0px;
	right: 0px;
	bottom: 0px;
	top: 0px;
	justify-content: center;
	align-items: center;
}

.margin-container {
	max-width: 97%;
	max-height: 97%;
	display: flex;
}

.content-container {
	display: flex;
	position: relative;
	justify-content: center;
	border: 3px solid gray;
	background-color: lightgray;
	flex-direction: column;
}

#gallery-image {
	max-width: 100%;
	min-height: 80%;
	object-fit: contain;
	width: auto;
	flex-shrink: 2;
}

.text-container {
	position: relative;
	bottom: 0px;
	padding-left: 1%;
	padding-right: 1%;
	background-color: white;
	border-top: 1px solid grey;
	width: 100%;
	max-height: 20%;
	min-height: 10%;
	overflow-y: auto;
}

#button-buy {
	position: absolute;
	right: 5px;
	top: 5px;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	padding-bottom: 0.25rem;
	padding-top: 0.25rem;
}
